/* Reset */
* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent mobile browsers from auto-zooming */
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
